<div class="container">
  <div class="row">

     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">User name</label>
          <p class="form-control-static">{{ details?.username }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">First name</label>
          <p class="form-control-static">{{ details?.fname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Middle name</label>
          <p class="form-control-static">{{ details?.mname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last name</label>
          <p class="form-control-static">{{ details?.lname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Age</label>
          <p class="form-control-static">{{ getAge() }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
